{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h3>MATERIA</h3>
    <p>
        Es todo quello que tiene masa y ocupa un lugar en el espacio (volumen). Una definición más general
        indica que es de lo que están formados los cuerpos.
    </p>

    <p>
        Los elementos están formados por particulas discretas, diminutas e indivisibles, que permanecen inalterables 
        en cualquier proceso químico.
    </p>

    <h3>ÁTOMO</h3>
    <p>
        Es un elemento químico que mantiene su identidad o sus propiedades, hoy sabemos que sí se pueden dividir y a ello 
        se dedica la física nuclear, a su estudio y análisis.
    </p>
</div>
{% endblock content %}