{% extends "layout.html" %}

{% block content %}
<div class="container">
    <p>&nbsp;</p>
    <section class="container">
        <div class="row">
            <div class="col">
                <h3>MATERIA</h3>
                <p class="lead">
                    Es todo quello que tiene masa y ocupa un lugar en el espacio (volumen). Una definición más general
                    indica que es de lo que están formados los cuerpos.
                </p>
            
                <p class="lead">
                    Los elementos están formados por particulas discretas, diminutas e indivisibles, que permanecen inalterables 
                    en cualquier proceso químico.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3>ÁTOMO</h3>
                <p class="lead">
                    Es un elemento químico que mantiene su identidad o sus propiedades, hoy sabemos que sí se pueden dividir y a ello 
                    se dedica la física nuclear, a su estudio y análisis.
                    Está conformado de: <strong>Núcleo</strong> y <strong>Electrones</strong>.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h3>NÚCLEO</h3>
                <p class="lead">
                    Es la parte central del átomo y está conformado por <strong>Neutrones</strong> y <strong>protones</strong>.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h3>PROTONES</h3>
                <p class="lead">
                    Partícula subatómica que posee una carga positiva de <strong>1.6&times;10<sup>-19</sup></strong> <i>Coulomb</i> y 
                    una masa de <strong>1.6&times;10<sup>-27</sup></strong> <i>Kg</i>
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h3>NEUTRONES</h3>
                <p class="lead">
                    Son una partícula subatómica sin carga neta, está conformado por tres particulas fundamentales de <i>Quarks</i> cuyas cargas 
                    suman cero.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3>NÚCLEO</h3>
                <p class="lead">
                    Es la parte central del átomo y está conformado por <strong>Neutrones</strong> y <strong>protones</strong>.
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock content %}